In [2]:
import pandas as pd
from sklearn.manifold import TSNE
from gensim.models import Word2Vec
from sklearn.decomposition import PCA
import os
os.chdir('/home/daniel/school/BP/pythesis')
from data.prepare_word2vec_ed import get_word2vec_items
from data.prepare_data import *
from manual_labeling.labeled_data import SLOVA_PO_B

In [3]:
logs = pd.read_csv('data/nova_doplnovacka_log.csv', sep=';')
questions = pd.read_csv('data/nova_doplnovacka_questions.csv', sep=';')
system_ps_problem = pd.read_csv('data/system_ps_problem.csv', sep=';')
system_ps = pd.read_csv('data/system_ps.csv', sep=';')
system_kc = pd.read_csv('data/system_kc.csv', sep=';')
basic_data = merge_logs_with_questions(logs, questions)
ps_data = merge_data_with_practice_sets(basic_data, system_ps_problem, system_ps)

In [4]:
def get_data_by_knowledge_component(ps_data, kc_number):
    """
    input is - parameter ps_data from 'merge_data_with_practice_sets'
    parameter kc_number is the id of knowledge component from the dataset

    example: get_data_by_knowledge_component(ps_data, 26) would return
    the dataset of Vyjmenovaná slova B - 26 is its id
    """
    return ps_data[ps_data['parent_kc'] == 26].drop_duplicates(['user', 'question_id'], keep='first').drop_duplicates(['id'], keep='first')

In [5]:
len(ps_data[ps_data['parent_kc'] == 26].id)

410207

In [6]:
len(ps_data[ps_data['parent_kc'] == 26].drop_duplicates(['user', 'question_id'], keep='first').id)

307130

In [7]:
len(ps_data[ps_data['parent_kc'] == 26].drop_duplicates(['user', 'question_id'], keep='first').id.unique())

307130

In [8]:
len(ps_data[ps_data['parent_kc'] == 26].drop_duplicates(['user', 'question_id'], keep='first').drop_duplicates(['id'], keep='first').id.unique())

307130

In [9]:
len(get_data_by_knowledge_component(ps_data, 26))

307130

In [10]:
# data from knowledge component - Vyjmenovaná slova B
data_from_kc = get_data_by_knowledge_component(ps_data, 26).drop_duplicates(['question'])

In [11]:
# data from practice sets [383,384,385] - doplnovacka vyjmenovane slova B
data_from_ps = get_vyjmenovana_slova_po_b(ps_data).drop_duplicates(['question'])

In [12]:
data_from_kc[~data_from_kc.question.isin(data_from_ps.question)]

,id,user,correct,question_id,correct_answer,question,url,ps,parent_kc,exercise
1949,1950,1338362,1,119,y,nesl_šně,diktat-vyjmenovana-slova-po-b-1-uroven,169,26,3
1951,1952,1338362,1,121,ý,ml_nský,diktat-vyjmenovana-slova-po-b-1-uroven,169,26,3
2355,2356,1338362,1,664,i,Z_kmund,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
2483,2484,1338362,1,666,i,z_ma,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
3248,3249,767227,1,120,ý,nesl_chaný,diktat-vyjmenovana-slova-po-b-1-uroven,169,26,3
3293,3294,767227,1,122,y,ml_nářka,diktat-vyjmenovana-slova-po-b-1-uroven,169,26,3
5595,5596,1338527,0,927,z,_hlédnout představení,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
5604,5605,1338527,1,928,s,_hlédnout z rozhledny,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
5693,5694,1338527,1,930,z,zkouška _ matematiky,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
16990,16991,1339137,1,668,i,ciz_nci,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
32590,32591,1340227,1,931,s,_let čarodějnic,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11
50428,50429,1341787,1,929,s,_jednotit,rozrazovacka-dobyt-pobit-a-spol-2-uroven,324,26,11

In [13]:
ps_data[ps_data['question']=='ciz_nci'].parent_kc.unique()

array([ 1, 26, 32])

In [14]:
# ciz_inci - question_id 668 is in practice set - rozrazovacka-dobyt-pobit..
system_ps_problem[system_ps_problem['problem']==668]

          id   ps  problem
3443    3444   14      668
6469    6470   98      668
13816  13817  324      668
17624  17647  396      668

In [15]:
# ml_narka - question_id 122 is in practice set - doplnovacka vyjmenovana slova B..
system_ps_problem[system_ps_problem['problem']==122]

          id   ps  problem
2777    2778    4      122
5952    5953   88      122
11879  11880  169      122
11980  11981  221      122
13083  13084  254      122
13364  13365  312      122
16958  16981  386      122
20151  20174  491      122